{% extends 'base.html.twig' %}


{% block body %}
    <h1 class="text-center">Search Game</h1>

{{ form_start(form) }}
        {{ form_row(form.gameName) }}
        <button type="submit" class="btn">Search</button>
{{ form_end(form) }}
{% endblock %}
