{% extends 'base.html.twig' %}

{% block body %}
 
<h1 class="text-center">Game Results </h1>
<h2 class="text-center fst-italic">for : " {{searchedGame}} "</h2>

<div class="container mt-5">
    <div class="row">
        {%for videoGame in videoGames%}
            <div class="col-3 mt-3">
                <div class="card w-100">
                    <img src ="{{videoGame['background_image']}}" height="150px" alt="GameImage">
                    <div class="card-body">
                        <h5 class="game-title">{{videoGame['name']}}</h5>
                        <a href="#" class ="btn btn-primary">Add Game</a>
                    </div>                
                </div>
            </div>
        {%endfor%}
     </div>
</div>
{% endblock %}
